<div class="row">
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
          Übersicht
        </div>
        <div class="card-body pre-scrollable">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>{{ product.name }}</td>
                <td>{{ product.price | number:'.2-2'}} CHF</td>
                <td>
                  <button class="btn btn-default pull-right" (click)="deleteProduct(product)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td><b>Total</b></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
  <div class="col-md-3">
    <app-add-product-form [products]="products"></app-add-product-form>
  </div>
</div>
