<footer class="app-footer">
  <span>&copy; 2017 drink.io</span>
  <span class="ml-auto"><app-sync-button></app-sync-button></span>
  <span class="ml-auto">Powered by <a href="http://coreui.io">CoreUI</a></span>
</footer>
