<div class="card">
  <div class="card-header">
    Neues Produkt
  </div>
  <div class="card-body pre-scrollable" style="height: 500px">
    <form [formGroup]="addForm" (ngSubmit)="addProduct($event)">
      <div class="form-group">
        <label for="nameInput">Name</label>
        <input #nameInput type="text" class="form-control" [ngClass]="{'is-invalid': nameInputInvalid}" id="nameInput" placeholder="Neues Produkt" formControlName="name">
        <div [ngClass]="{'hidden': !nameInputInvalid}" class="invalid-feedback" >
          Falsches Format
        </div>
      </div>
      <div class="form-group">
        <label for="priceInput">Preis</label>
        <input #priceInput type="text" class="form-control" [ngClass]="{'is-invalid': priceInputInvalid}" id="priceInput" placeholder="Preis" formControlName="price">
        <div [ngClass]="{'hidden': !priceInputValid}" class="invalid-feedback" >
          Falsches Format
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Hinzufügen</button>
    </form>
  </div>
</div>
